<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-searchbar no-border></ion-searchbar>
  </ion-row>
</ion-header>

<ion-content>
  <div style="padding-left: 15px">
    <span style="font-size: 28px; font-weight: bold; display: block; padding-top: 20px;">Recent Parcels</span>
    <span>Total 20 items</span>
  </div>
  <ion-slides [options]="slidesOpts4" style="padding-left: 15px">
    <ion-slide>
      <div class="slide-item">
        <div [ngStyle]="{'background-image': 'url('+ 'assets/images/hands.jpg' +')'}" class="slide-card"></div>
        <div class="content">
          <span class="title">Mac Book</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-item">
        <div [ngStyle]="{'background-image': 'url('+ 'assets/images/parcel4.jpeg' +')'}" class="slide-card"></div>
        <div class="content">
          <span class="title">Mac Book Pro</span>
        </div>
      </div>

    </ion-slide>
    <ion-slide>
      <div class="slide-item">
        <div [ngStyle]="{'background-image': 'url('+ 'assets/images/parcel6.jpeg' +')'}" class="slide-card"></div>
        <div class="content">
          <span class="title">iPhone 6</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-item">
        <div [ngStyle]="{'background-image': 'url('+ 'assets/images/parcel1.jpeg' +')'}" class="slide-card"></div>
        <div class="content">
          <span class="title">iMac Pro</span>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-item">
        <div [ngStyle]="{'background-image': 'url('+ 'assets/images/parcel2.jpeg' +')'}" class="slide-card"></div>
        <div class="content">
          <span class="title">iMac Pro</span>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-item-divider class="tab-divider">
  </ion-item-divider>
  <div style="padding-left: 15px; padding-top: 10px">
    <span style="font-size: 28px; font-weight: 400; display: block;">Pending delivery</span>
  </div>
  <div class="listing-card-container" style="padding-left: 15px">
    <div class="listing-card" (click)="presentModal()">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <img src="assets/images/avatar.jpg" >
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <div style="padding-left: 15px">
            <span style="display: block; font-size: 20px; padding: 10px; font-weight: bold">Cynthia Pena</span>
            <span>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem atque consequatur saepe provident incidunt.
               </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-item-divider class="tab-divider-1">
      </ion-item-divider>
      <ion-row>
        <ion-col size="3" text-center>
          Date
          <span style="display: block">
                09/09/2017
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Time
          <span style="display: block">
                10:30 am
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Status
          <span style="display: block">
                On Way
              </span>
        </ion-col>
        <ion-col size="3">
          <img style="border-radius: 5px" src="assets/images/parcel1.jpeg" >
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-card">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <img src="assets/images/avatar.jpg" >
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <div style="padding-left: 15px">
            <span style="display: block; font-size: 20px; padding: 10px; font-weight: bold">Cynthia Pena</span>
            <span>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem atque consequatur saepe provident incidunt.
               </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-item-divider class="tab-divider-1">
      </ion-item-divider>
      <ion-row>
        <ion-col size="3" text-center>
          Date
          <span style="display: block">
                09/09/2017
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Time
          <span style="display: block">
                10:30 am
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Status
          <span style="display: block">
                On Way
              </span>
        </ion-col>
        <ion-col size="3">
          <img style="border-radius: 5px" src="assets/images/parcel1.jpeg" >
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-card">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <img src="assets/images/avatar.jpg" >
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <div style="padding-left: 15px">
            <span style="display: block; font-size: 20px; padding: 10px; font-weight: bold">Cynthia Pena</span>
            <span>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem atque consequatur saepe provident incidunt.
               </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-item-divider class="tab-divider-1">
      </ion-item-divider>
      <ion-row>
        <ion-col size="3" text-center>
          Date
          <span style="display: block">
                09/09/2017
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Time
          <span style="display: block">
                10:30 am
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Status
          <span style="display: block">
                On Way
              </span>
        </ion-col>
        <ion-col size="3">
          <img style="border-radius: 5px" src="assets/images/parcel1.jpeg" >
        </ion-col>
      </ion-row>
    </div>
    <div class="listing-card">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <img src="assets/images/avatar.jpg" >
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <div style="padding-left: 15px">
            <span style="display: block; font-size: 20px; padding: 10px; font-weight: bold">Cynthia Pena</span>
            <span>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem atque consequatur saepe provident incidunt.
               </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-item-divider class="tab-divider-1">
      </ion-item-divider>
      <ion-row>
        <ion-col size="3" text-center>
          Date
          <span style="display: block">
                09/09/2017
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Time
          <span style="display: block">
                10:30 am
              </span>
        </ion-col>
        <ion-col size="3" text-center>
          Status
          <span style="display: block">
                On Way
              </span>
        </ion-col>
        <ion-col size="3">
          <img style="border-radius: 5px" src="assets/images/parcel1.jpeg" >
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
