/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header{
  //padding: 10px;
  box-shadow: none !important;
}

ion-toolbar{
  border-radius: 20px;
 }

ion-title{
  font-size: 35px;
  color: #1b92ff;
}

ion-content{
  --background: transparent;
}

.listing-card-container{
  display: block;
  position: relative;
  padding: 10px;
  top: 10px;
}

.listing-card{
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  height: auto;
  border: solid grey 0.2px;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 50px 27px -39px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 50px 27px -39px rgba(0,0,0,0.15);
  box-shadow: 0px 50px 27px -39px rgba(0,0,0,0.15);
  margin-bottom: 10px !important;
}

.listing-card> .content{
  padding: 5px;
}

.listing-card> .content> .title{
  font-size: 25px;
  padding-left: 10px;
  padding-top: 10px;
}
.listing-card> .content> .body{
  font-size: 15px;
  padding-left: 10px;
}

.listing-card> img{
  border-radius: 15px;
  width: 100%;
  margin-bottom: -5px;
}

.listing-card> span{
  position: absolute;
  display: block;
  font-size: 30px;
  bottom: -1.5px;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.605);
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  font-weight: 300;
}
.tab-divider{
  display: block;
  margin-left: 30px;
  margin-top: -30px;
  background-color: transparent !important;
  width: 100vw;
}

.tab-divider-1{
  display: block;
  margin-top: -30px;
  background-color: transparent !important;
  width: 100%;
}

.tab-divider-2{
  display: block;
  margin-top: -30px;
  background-color: transparent !important;
  width: 100%;
}
